
.state-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F3F4F7;
  font-weight: bold;
  margin-right: 10px;
}
.table th {
  margin-top: 50px;
  color: #6c757d;
  font-weight: normal;
}
.table td {
  vertical-align: middle;
}

.table-body {
 
  background-color: white; 
  
  border-radius: 10px;
}

.table-span {
  margin:25px;
}